<div fxLayout="row" fxLayoutAlign="center">
  <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="space-around center">
    <div class="card">
      <img src="/assets/img-erika.jpg">
    </div>
    <div class="card">
      <img src="/assets/img-tj.jpg">
      <p>I first met TJ at a pizza party at work, the same month his company had been acquired by mine. He was tanned, having recently returned from Florida, and seemed very at peace with the world. I invited him to join me to work out at the company gym - I always invited new employees to join me - and a few months later he was the only person still left coming to the gym with me....I think it was a sign of things to come.
      </p>
    </div>
  </div>
</div>
