<div fxLayout="row" fxLayoutAlign="center">
  <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="space-around stretch">
    <div class="card">
      <img src="/assets/img-erika.jpg">
      <h3>ERIKA</h3>
      <p>Erika's eagerness to live and love is the yin to my overly relaxed yang. An eager planner, Erika had us in Jamaica within a few months of our first date. Since then we've been upstate, out west, down south, to the Caribbean, and parts of Western Europe. I can't wait to have - and share - more experiences with her.</p>
    </div>
    <div class="card">
      <img src="/assets/img-tj.jpg">
      <h3>TJ</h3>
      <p>I first met TJ at a pizza party at work. He was tanned, having recently returned from Florida, and seemed very at peace with the world. I invited him to join me to work out at the company gym - I always invited new employees to join me - and a few months later he was the only person still left coming to the gym with me....I think it was a sign of things to come.
      </p>
    </div>
  </div>
</div>
