@import 'src/constants';

:host {
  background-color: black;
  display: block;
  text-align: center;
}

md-icon {
  max-width: 100%;
  width: $max-width;
  height: $max-width / 2;
}
























