@import 'src/constants';

$primary-color: $blue;

:host {
  background: url('/assets/img-accommodations-blur-blue.jpg');
  display: block;

  padding: 1rem;

}

.hero {
  color: #fff;
  margin: 0 auto;
  max-width: $max-width;
  padding: 1rem;
  text-align: center;
}

h1 {
  color: $blue;
}

.map-container {
  background: #fff;
  margin: 0 auto;
  padding: 1rem;
  max-width: $max-width;
  width: 100%;
}

@media (max-width: 1279px) {
  .map {
    margin: 0 auto;
    max-width: $max-width / 2;
    width: 100%;
  }
}

@media (min-width: 1280px) {
  .map-container {
    max-width: $max-width * 2;
  }
}
