@import 'src/constants';

$primary-color: $blue;

:host {
  background: url('/assets/img-accommodations-blur-blue.jpg');
  display: block;

  padding: 1rem;
  padding-bottom: 0;

}

p {
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

md-icon {
  height: 5rem;
  width: 5rem;
}

.hero {
  color: #fff;
  margin: 0 auto;
  max-width: $max-width;
  padding: 3rem 1rem;
  text-align: center;
}

h1 {
  color: $blue;
}

.map-container {
  background: #fff;
  margin: 0 auto;
  // padding: 1rem;
  max-width: $max-width * 1.5 !important;
  width: 100%;

  > div {
    text-align: center;
  }
}

.map {
  background-size: cover;
  background-position: center center;
  min-height: 400px;
}

.direction-container {
  padding: 2rem;
}

@media (max-width: 959px) {
  .button.small {
    width: 100%;
  }
  .map-container > div:nth-of-type(n+2) {
    padding-top: 1rem;
  }
}

  .map-container > div:not(.map) {
    padding: 2rem;
  }

@media (max-width: 1279px) {
  .map {
    margin: 0 auto;
    // max-width: $max-width / 2;
    width: 100%;
  }
}

@media (min-width: 1280px) {
  .map-container {
    max-width: $max-width;
  }
}
