@import 'src/constants';

$primary-color: $blue;

:host {
  background: url('/assets/img-accommodations-blur-blue.jpg');
  display: block;

  & > div {
    padding: 2rem;
  }
}

.hero {
  color: #fff;
  margin: 0 auto;
  max-width: $max-width;
  text-align: center;
}

h1 {
  color: $blue;
}

.map-container {
  background: #fff;
}
