<div class="hero" fxLayout="column" fxLayoutAlign="center center">
  <h1>ACCOMMODATIONS / TRAVEL</h1>
  <p>The Paper Factory Hotel is less than a 10 minute drive to the wedding venue in Long Island City. If you’re up for some sightseeing during your stay, the hotel is located directly across the river from Manhattan's Midtown East and just a short train or cab ride to The Empire State Building, Rockefeller Center, Times Square and Grand Central Station.</p>
</div>
<div class="map-container" fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign.gt-md="center stretch">
  <div fxFlex>
    <md-icon svgIcon="marker:hotel"></md-icon>
    <address fxLayout="column" fxLayoutAlign=" center">
      <h3>PAPER FACTORY HOTEL</h3>
      <span>37-06 36th Street</span>
      <span>Long Island City, New York</span>
    </address>
    <p>
    We have reserved a block of rooms for guests, click the BOOK NOW button for our reduced rate. Please book as soon as possible, rooms must be booked before 06/22/2017 and can be booked for 1, 2 or 3 nights. If you have any problems, please email us, we are here to help.</p>
    <a target="_blank" rel="noopener" class="button white" href="http://bookings.ihotelier.com/bookings.jsp?groupID=1761800&hotelID=95097">
      BOOK NOW
    </a>
  </div>
  <div class="map" [ngStyle]="{ 'background-image': src }" fxFlex="1 1 400px"></div>
  <div fxFlex>
    <md-icon svgIcon="marker:venue"></md-icon>
    <address fxLayout="column" fxLayoutAlign=" center">
      <h3>METROPOLITAN BUILDING</h3>
      <span>44-01 11th Street, 2nd Floor</span>
      <span>Long Island City, New York</span>
    </address>
    <p>The wedding venue is an older brick loft building, and will have a sign outside with our names. The event is taking place on the 2nd floor, and we will have someone available to help anyone needing elevator access.</p>
  </div>
</div>
<p class="directions-label" >DIRECTIONS FROM AIRPORTS</p>
<div class="direction-container" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="center center" fxLayoutGap="20px">
  <a target="_blank" rel="noopener" class="button black small" href="https://goo.gl/IroF3g">JFK to Hotel</a>
  <a target="_blank" rel="noopener" class="button black small" href="https://goo.gl/U7zE30">LGA to Hotel</a>
  <a target="_blank" rel="noopener" class="button black small" href="https://goo.gl/5UozvU">Newark to Hotel</a>
</div>
