<div class="hero" fxLayout="column" fxLayoutAlign="center center">
  <h1>ACCOMMODATIONS / TRAVEL</h1>
  <p>The Paper Factory Hotel is under 10 mins drive to the wedding venue in Long Island City, Queens.  It is located directly across the river from Manhattan's Upper East Side and just a train ride or short cab ride to The Empire State Building, Rockefeller Center, Times Square and Broadway if you’re up for some sightseeing during your stay.</p>
</div>
<div class="map-container" fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign="center stretch" fxLayoutAlign.gt-md="center stretch">
  <div fxFlex>
    <md-icon svgIcon="marker:hotel"></md-icon>
    <address fxLayout="column" fxLayoutAlign=" center">
      <h3>PAPER FACTORY HOTEL</h3>
      <span>37-06 36th Street</span>
      <span>Long Island City, New York</span>
    </address>
    <p>
    We have reserved a block of rooms for guests, click the BOOK NOW button for our reduced rate. Please book as soon as possible, rooms must be booked before 06/22/2017. These rooms should not sell out, if you have any problems, please email us, and we will help you book the room.
    </p>
    <a class="button white" href="http://bookings.ihotelier.com/bookings.jsp?groupID=1761800&hotelID=95097">
      BOOK NOW
    </a>
  </div>
  <div class="map" [ngStyle]="{ 'background-image': src }" fxFlex="1 1 400px"></div>
  <div fxFlex>
    <md-icon svgIcon="marker:venue"></md-icon>
    <address fxLayout="column" fxLayoutAlign=" center">
      <h3>METROPOLITAN BUILDING</h3>
      <span>44-01 11th Street, 2nd Floor</span>
      <span>Long Island City, New York</span>
    </address>
    <p>
A 10 minute drive from the Paper Factory Hotel, the wedding venue is an older brick loft building, and will have a sign outside with our names.  
We will have someone available to help anyone needing elevator access to the venue.
    </p>
  </div>
</div>
<div class="direction-container" fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="center center" fxLayoutGap="20px">
  <a class="button black small" href="https://goo.gl/wLR74q">JFK to Hotel</a>
  <a class="button black small" href="https://goo.gl/schXPP">LGA to Hotel</a>
  <a class="button black small" href="https://goo.gl/ZMQ5LM">Newark to Hotel</a>
</div>
