<div fxFlex fxLayoutAlign="center">
  <md-icon svgIcon="bride-and-groom"></md-icon>
</div>
<div fxFlex fxLayoutAlign="center">
  <div fxLayout="column">
    <span class="value">{{ days }}</span>
    <span class="label">Day<span *ngIf="days != 1">s</span></span>
  </div>
  <div fxLayout="column">
    <span class="value">{{ hours }}</span>
    <span class="label">Hour<span *ngIf="hours != 1">s</span></span>
  </div>
  <div fxLayout="column">
    <span class="value">{{ minutes }}</span>
    <span class="label">Min</span>
  </div>
  <div fxLayout="column">
    <span class="value">{{ seconds }}</span>
    <span class="label">Sec</span>
  </div>
</div>
