@import 'src/constants.scss';

// Import theming functions
@import '~@angular/material/core/theming/theming';
// Import your custom theme
@import 'src/theme.scss';

$primary-color: $mint;


:host {
  color: white;
  display: block;
  background-color: $primary-color;
  padding: 2rem;
}

md-icon {
  color: white;
  height: 4rem;
  margin-bottom: 1rem;
  width: 4rem;
}

.value, .label {
  margin: 0 1rem;
  text-align: center;
}

.value {
  font-size: 1.66rem;
  font-family: $sans-serif;
}

.label {
  font-size: 1rem;
  font-family: $serif;
}
