<md-toolbar color="warn">
  <span fxFlex fxLayoutAlign="center">
    <md-icon svgIcon="bride-and-groom"></md-icon>
  </span>
  <md-toolbar-row fxLayoutAlign="center">
    <div fxLayout="row">
      <div fxLayout="column">
        <span>{{ days }}</span>
        <span>Days</span>
      </div>
      <div fxLayout="column">
        <span>{{ hours }}</span>
        <span>Hours</span>
      </div>
      <div fxLayout="column">
        <span>{{ minutes }}</span>
        <span>Minutes</span>
      </div>
      <div fxLayout="column">
        <span>{{ seconds }}</span>
        <span>Seconds</span>
      </div>
    </div>
  </md-toolbar-row>
</md-toolbar>
