<div fxFlex fxLayoutAlign="center">
  <md-icon svgIcon="bride-and-groom"></md-icon>
</div>
<div fxFlex fxLayoutAlign="center">
  <div fxLayout="column">
    <h1 class="value">{{ days }}</h1>
    <span class="label">Day<span *ngIf="days != 1">s</span></span>
  </div>
  <div fxLayout="column">
    <h1 class="value">{{ hours }}</h1>
    <span class="label">Hour<span *ngIf="hours != 1">s</span></span>
  </div>
  <div fxLayout="column">
    <h1 class="value">{{ minutes }}</h1>
    <span class="label">Min</span>
  </div>
  <div fxLayout="column">
    <h1 class="value">{{ seconds }}</h1>
    <span class="label">Sec</span>
  </div>
</div>
