// Import theming functions
@import '~@angular/material/core/theming/theming';
// Import your custom theme
@import 'src/theme.scss';


:host {
  color: white;
  display: block;
  background-color: mat-color($wedding-app-warn, 600);
  padding: 2rem;
}

md-icon {
  color: white;
  height: 4rem;
  margin-bottom: 1rem;
  width: 4rem;
}

.value, .label {
  margin: 0 1rem;
  text-align: center;
}

.value {
  font-size: 1.66rem;
}

.label {
  font-size: 1rem;
}
