<div fxLayout="column" fxLayoutAlign="center center">
  <md-icon svgIcon="registry"></md-icon>
  <h1>REGISTRY</h1>
  <p>
  Not so traditional,<br />
  Not the way it's done, <br />
  In lieu of more things, <br />
  We'd like a bit of sun.<br />
  Our apartment is small,<br />
  as New York places tend to be, <br />
  We have what we need, <br />
  So we skipped the registry. <br />
  However, if you'd like to give a gift,<br />
  To help us celebrate, <br />
  Something towards our honeymoon,<br />
  We would appreciate. </p>
</div>
<a target="_blank" rel="noopener" href="https://www.zola.com/registry/etj-wedding">Our Honeymoon Fund</a>
