<div fxLayout="column" fxLayoutAlign="center center">
  <md-icon svgIcon="registry"></md-icon>
  <h1>REGISTRY</h1>
  <p>
    We are so excited for you to join us at our wedding and the presence of your company is the only gift we could ever ask for!  However, should you wish to help us celebrate with a gift, we hope these options will make it more convenient for you to select something.
  </p>
</div>
<a href="https://www.zola.com/registry/etj-wedding">Honeymoon</a>&nbsp;&nbsp;|&nbsp;&nbsp;
<a href="https://www.crateandbarrel.com/gift-registry/erika-schneider-and-tj-lavelle/r5670413">Crate & Barrel</a>
