@import 'src/constants';

$primary-color: $mint;

:host {
  display: block;
  margin: 0 auto;
  max-width: $max-width;
  padding: 4rem 2rem;
  text-align: center;
}

h1, a {
  color: $primary-color;
}

md-icon {
  height: 5rem;
  width: 5rem;
  margin-bottom: 1rem;
}
