@import 'src/constants';

section {
  height: 100%;
  overflow-y: auto;
}

.toolbar {
  box-shadow: 0 0 6px 1px black;
  letter-spacing: 2px;
  position: fixed;
  width: 100%;
  transform: translateZ(0);
}

.container {
  margin: 0 auto;
  max-width: $max-width * 1.5;
  padding: 0.666rem 2rem;
  width: 100%;
}

.container {
}

.logo {
  font-family: $sans-serif;
}




