/* You can add global styles to this file, and also import other style files */
@import 'src/constants.scss';
// Import theming functions
@import '~@angular/material/core/theming/theming';
// Import your custom theme
@import 'src/theme.scss';


html, body, app-root {
  background: white !important;
  display: block;
  font-family: $sans-serif;
  font-size: 20px;
  //height: 100%;
  margin: 0;
  //overflow-x: hidden;
  //-webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

span, p, div, button {
  font-weight: 300;
}

p {
  line-height: 1.666rem;
  max-width: $max-width / 1.5;
  text-align: center;
}

h1 {
  margin: 0;
  font-family: $serif;
  font-size: 1.66rem;
}

h3 {
  font-size: 1.3rem;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.bg-logo {
  background-color: black;
  background-image: url('/assets/etj-logo.svg');
  background-position: 50%;
  background-size: cover;
}

.uppercase {
  text-transform: uppercase;
}

.button {
  background: none;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  display: inline-block;
  border: 2px solid;
  outline: none;
  padding: 1rem 2rem;
  transition: background-color 300ms ease-in-out, color 300ms ease-in-out, border-color 300ms ease-in-out;
}

.button.warn {
  border-color: $coral;
}

.button.warn:hover:not([disabled]),
.button.warn:active,
.button.warn:focus {
  background-color: $coral;
  color: white;
  cursor: pointer;
}

.button.mint{
 border-color: $mint;
}

.button.mint:hover:not([disabled]),
.button.mint:active,
.button.mint:focus {
  background-color: $mint;
  color: white;
  cursor: pointer;
}

.button.white {
  background-color: white;
  border-color: #1a1818;
}

.button.white:hover:not([disabled]),
.button.white:active,
.button.white:focus {
  background-color: #1a1818;
  color: white;
  cursor: pointer;
}

.button.small {
  padding: 0.6rem 2rem;
}

.button.black {
  color: white;
  border-color: white;
  min-width: 8rem;
}

.button.black:hover:not([disabled]),
.button.black:active,
.button.black:focus {
  color: #1a1818;
  background-color: white;
  border-color: white;
  cursor: pointer;
}

.button[disabled] {
  color: #e2e2e2;
  border-color: #e2e2e2;

  &:hover {
    cursor: not-allowed;
  }
}

.mat-checkbox,
.mat-input-container {
  font-family: $sans-serif !important;
}

md-icon.logo g{
  animation: kaboom 2s ease alternate infinite;
  &:nth-of-type(2) {
    animation-delay: 0.1s;
  }
  &:nth-of-type(3) {
    animation-delay: 0.2s;
  }
  &:nth-child(4) {
    animation-delay: 0.3s;
  }
  &:nth-child(5) {
    animation-delay: 0.4s;
  }
}
@keyframes kaboom {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(5%, 5%);
  }
  90% {
    transform: scale(1.0);
  }
  100% {
    transform: scale(1.1);
  }
}
