<section class="calendar-module" fxLayout="column" fxLayoutAlign=" center">
  <div fxLayout="column" fxLayoutAlign=" center">
    <span>Satruday</span>
    <span>07.22.2017</span>
  </div>
  <div fxLayout="column" fxLayoutAlign=" center">
    <span>Metropolitan Building</span>
    <span>2nd Floor</span>
    <span>44-01 11th St, Long Island City, NY</span>
  </div>

  <div fxLayout="column" fxLayout.md="row">
    <div fxLayout="column" fxLayoutAlign=" center">
      <md-icon svgIcon="ring"></md-icon>
      <span>Ceremony</span>
      <span>5 pm - 5:30 pm</span>
    </div>
    <div fxLayout="column" fxLayoutAlign=" center">
      <md-icon svgIcon="cocktail"></md-icon>
      <span>Cocktails</span>
      <span>5:30 pm - 6:30 pm</span>
    </div>
    <div fxLayout="column" fxLayoutAlign=" center">
      <md-icon svgIcon="cupcake"></md-icon>
      <span>Reception</span>
      <span>6:30 pm - MIDNIGHT</span>
    </div>
  </div>

  <a href="https://addevent.com/?Pn433609+google">Add to Calendar</a>

  <div fxLayout="column" fxLayoutAlign=" center">
    <span>Sunday</span>
    <span>07.23.2017</span>
  </div>

  <p>We are bloeing all of our budget on Saturday's main event, but would still love to see you all for brunch Sunday! Time and location are to be determined, we will make reservations for anyone who is interested in joining us. Please let us know in the RSVP.</p>

</section>
