<section class="calendar-module" fxLayout="column" fxLayoutAlign=" center">
  <div fxLayout="column" fxLayoutAlign=" center">
    <span class="day">SATURDAY</span>
    <h1 class="date">07.22.2017</h1>
    <address fxLayout="column" fxLayoutAlign=" center">
      <h3>METROPOLITAN BUILDING</h3>
      <span>44-01 11th Street, 2nd Floor</span>
      <span>Long Island City, New York</span>
    </address>
  </div>

  <div class="container" fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="space-around center">
    <div fxLayout="column" fxLayoutAlign=" center">
      <md-icon svgIcon="ring"></md-icon>
      <span class="uppercase">Ceremony</span>
      <span>5 pm - 5:30 pm</span>
    </div>
    <div fxLayout="column" fxLayoutAlign=" center">
      <md-icon svgIcon="cocktail"></md-icon>
      <span class="uppercase">Cocktails</span>
      <span>5:30 pm - 6:30 pm</span>
    </div>
    <div fxLayout="column" fxLayoutAlign=" center">
      <md-icon svgIcon="cupcake"></md-icon>
      <span class="uppercase">Reception</span>
      <span>6:30 pm - Midnight</span>
    </div>
  </div>

  <div class="button-wrapper">
    <a href="https://calendar.google.com/calendar/event?action=TEMPLATE&tmeid=cjlqMG5ocTF1Z3VxYWE4NG1lMTR1cnExaTggdGpsYXY1QG0&tmsrc=tjlav5%40gmail.com" class="button warn">Add to Calendar</a>
  </div>

  <div fxLayout="column" fxLayoutAlign=" center">
    <span class="day">SUNDAY</span>
    <h1 class="date">07.23.2017</h1>
  </div>

  <p>We are blowing all of our budget on Saturday's main event, but would still love to see you all for brunch Sunday! Time and location are to be determined, we will make reservations for anyone who is interested in joining us. Please let us know in the RSVP.</p>

</section>
