@import 'src/constants';

// Import theming functions
@import '~@angular/material/core/theming/theming';
// Import your custom theme
@import 'src/theme.scss';

$primary-color: $coral;

:host {
  display: block;
  padding: 2rem;
  font-family: $sans-serif;
}

.day, .date {
  color: $primary-color;
}

.date {
  font-size: 1.66rem;
}

.day, .uppercase, .date {
  font-family: $serif;
}

md-icon {
  height: 8rem;
  width: 8rem;
}

.button {
  margin: 1rem;
}

.button-wrapper {
  padding: 1rem;
  border-bottom: 1px solid black;
  margin-bottom: 2rem;
}

p {
  max-width: $max-width;
}

address {
  font-style: normal;
}
