<section class="calendar-module" fxLayout="column" fxLayoutAlign=" center">
  <div fxLayout="column" fxLayoutAlign=" center">
    <span>Satruday</span>
    <span>07.22.2017</span>
  </div>
  <div fxLayout="column" fxLayoutAlign=" center">
    <span>Metropolitan Building</span>
    <span>2nd Floor</span>
    <span>44-01 11th St, Long Island City, NY</span>
  </div>

  <div fxLayout="column" fxLayout.md="row">
    <div fxLayout="column" fxLayoutAlign=" center">
      <md-icon svgIcon="ring"></md-icon>
      <span>Ceremony</span>
      <span>5 pm - 5:30 pm</span>
    </div>
    <div fxLayout="column" fxLayoutAlign=" center">
      <md-icon svgIcon="cocktail"></md-icon>
      <span>Cocktails</span>
      <span>5:30 pm - 6:30 pm</span>
    </div>
    <div fxLayout="column" fxLayoutAlign=" center">
      <md-icon svgIcon="cupcake"></md-icon>
      <span>Reception</span>
      <span>6:30 pm - MIDNIGHT</span>
    </div>
  </div>

</section>
